@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: hsl(220, 15%, 55%);
    margin:0px;
    min-height:100vh;
    display: flex;
    align-items: center;
}
.main{
   max-width:300px;
   margin:0 auto;
}
.card{
    background: hsl(212, 45%, 89%);
    padding:18px;
    border-radius: 30px;
}
.card img{
    border-radius: 10px;
    width:100%;
    margin-top:10px;
    margin-left:0px;
    
}
.card h2{
    text-align: center;
    font-weight: 700;
}
.card p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}